<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/login.css">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
<div class="content">
    <div class="panel">

    <form  action="/login/login" method="get">
        <div class="group">
<!--        用户名:<input name="username" type="text"/>-->
<!--            <br>-->
<!--        密&nbsp&nbsp&nbsp码:<input name="password" type="password">-->
            <ul>
                <li><label>账号</label></li>
                <li><input name="username" type="text" placeholder=" 请输入账号" /></li>
            </ul>
            <ul>
                <li><label>密码</label></li>
                <li><input  name="password" type="password" placeholder=" 请输入密码" /></li>
            </ul>
        </div>

        <div class="login">
            <button   type="submit" >登录</button>
        </div>
    </form>

    </div>
</div>
</div>

<!--<div class="content">-->
<!--    <div class="panel">-->
<!--        <div class="group">-->
<!--            <ul>-->
<!--                <li><label>账号</label></li>-->
<!--                <li><input type="text" placeholder=" 请输入账号" /></li>-->
<!--            </ul>-->
<!--            <ul>-->
<!--                <li><label>密码</label></li>-->
<!--                <li><input type="password" placeholder=" 请输入密码" /></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="login">-->
<!--            <button type="button">登录</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="register">-->
<!--        <button type="button">注册</button>-->
<!--        <button type="button">找回密码</button>-->
<!--    </div>-->
<!--</div>-->
</body>
